
body {

  background: #ffffff;
  color: #d02d00;
    
}

p {

  margin: 0;
  padding: 0;

  font-family: helvetica, sans-serif;
  font-weight: 400;
  line-height: 1.3rem;


}

h1 {

  font-size: 4rem;
  font-family: times, serif;
  font-weight: 400;
  padding: 1rem;

  position: -webkit-sticky;
  position: sticky;
  top: 0;
  right: 0;
  text-align: right;
  z-index: 50;

}

hr {

    border-top: 0.06rem solid #d02d00;
    border-left: none;
    border-right: none;
    border-bottom: none;

    margin:0;

}

.mvm {

  width: 60%;
  padding: 1rem;

}

table {

  width: 100%;
  table-layout: fixed;

  padding: 0;
  margin: 0;

  border-collapse: collapse;

}


tr {

  border-top: 0.06rem solid #d02d00;
  border-collapse: collapse;

}

.c-fold {
      
  display: none;

}

.c-open {

  border-top: none;
  font-family: helvetica, sans-serif;
  font-weight: 400;

}

#nav {

  border-top:none;

}

#c-nav {

  text-align: right;
  font-family: helvetica, sans-serif;
  font-weight: 400;
  padding: 1rem;
  word-spacing: 2rem

}

#hidden-about {

  padding: 1rem;
  font-family: helvetica, sans-serif;
  font-weight: 400;
  font-size: 1rem;

  column-count: 3;
  height: 10%;

  border-top: 0.06rem solid #d02d00;

}

#manifesto {

  margin-bottom: 1rem;
  font-weight: bold;

}

#hidden-contact {
 
  padding: 1rem;
  font-family: helvetica, sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
  text-align: right;

}

#t-project {

  font-family: times, serif;
  font-size: 1.2rem;
  font-weight: 400;
  padding: 1rem;

}

.c-project {

  display: flex;

}

.c-project-txt {

  float: left;
  width: 60%;
  padding: 1rem;

}

.c-project-img {

  float: left;
  width: 20%;
  padding: 1rem;
  margin-left: 3rem;
  margin-bottom: 2rem;

}

/*--MEDIA--*/

@media (max-width: 600px) {

  .c-project-txt {

  float: left;
  width: 45%;
  padding: 1rem;

}

.c-project-img {

  float: left;
  width: 45%;
  padding: 1rem;
  margin-left: 1rem;
  margin-bottom: 2rem;

}

}

/*--LINKS--*/

/*a:link {

    color: inherit;
    font-style: inherit;
    text-decoration: none;
}

a:visited {

    color: inherit;
    text-decoration: none;
}

a:hover {

    background-color: red;
    color: white;
    text-decoration: none;
}

a:active {

    color: black;
    text-decoration: none;
}*/